/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General*/
body {
    background-color: #ccc;
    font-family: "Roboto", sans-serif;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
}

/*Main*/
main {
    background-color: #ffffff;
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}

.btn {
    background: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
}

.btn-blue {
    background-color: #14AAF5;
    color: #ffffff;
    border-color: #14AAF5;
}

.btn-gray{
    color: #C4CBD0;
    border-color: #C4CBD0;
}


